<html>
    <body>
        <h1>Hellow World! The time is {{ time }}</h1>
        Here are the items in our mustache template file:
        <br>
        {{#items}}
            <div>{{ . }}</div>
        {{/items}}
    </body>
</html>