<html>
    <body>
        <form action="/weather/location" method="get">
            Enter location:
            <input type='text' name='name' placeholder='Name'>
            <input type='submit' value='ENTER'>
        </form>
    </body>
</html>